In [8]:
#load the libraries
%pip install pandas numpy
import os
import pandas as pd
import numpy as np
#load the data
data = pd.read_csv('data.csv')

Requirement already satisfied: pandas in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/keithunt_35/Desktop/yr2 recess/LearnPython/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
#display basic information about the data
data.head(20)  # Display the first few rows of the DataFrame

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0

In [ ]:
#data processing or data cleaning
# Check for missing values

#bad daata handling
#1 empty values
#2 wrorng formats
##3 duplicates
#4 outliers
##5 inconsistent data types

print(data.isnull().sum())  # Count missing values in each column

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [14]:
#wrong data 
# checking for negative values in numeric columns
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    if (data[col] < 0).any():
        print(f"Negative values found in column: {col}")
# Check for duplicate rows
duplicates = data.duplicated().sum()
if duplicates > 0:
    print(f"Duplicate rows found: {duplicates}")

Duplicate rows found: 7

In [10]:
#fill in empty values with mean for numeric colu
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    data[col].fillna(data[col].mean(), inplace=True)

NameError: name 'data' is not defined

In [ ]:
print

In [ ]:

#exploratory data analysis
# Display basic statistics of the DataFrame
print("shape of the data:", data.shape)  # Display the shape of the DataFrame

NameError: name 'data' is not defined

In [ ]:
print("summary statistics of the data:")
print(data.describe())  # Display summary statistics of the DataFrame

summary statistics of the data:

NameError: name 'data' is not defined